<section class="portfolio-container">
  <img/>
  <div class="portfoliio-info-container">
    <ul>
      <li>
        {{usernameText}}
        <input type="text" [(ngModel)]="username">
      </li>
    </ul>
    <ul>
      <li>
        {{firstnameText}}
        <input type="text" [(ngModel)]="firstname">
      </li>
    </ul>
    <ul>
      <li>
        {{lastnameText}}
        <input type="text" [(ngModel)]="lastname">
      </li>
    </ul>
    <button (submit)="handleSave()">Save</button>
  </div>
</section>