<section class="portfolio-container">
  <img/>
  <div class="portfoliio-info-container">
    <ul>
      <li>
        {{usernameText}}
        <input type="text" [(ngModel)]="username" readonly id="username-box">
      </li>
    </ul>
    <ul>
      <li>
        {{firstnameText}}
        <input type="text" [(ngModel)]="firstname">
      </li>
    </ul>
    <ul>
      <li>
        {{lastnameText}}
        <input type="text" [(ngModel)]="lastname">
      </li>
    </ul>
    <button (click)="handleSave()">Save</button>
    <div>{{profileSavedText}}</div>
  </div>
</section>