<section class="post-detail-container" *ngIf="!isUpdating">
  <p>{{title}}</p>
  <div>
    {{body}}
  </div>
</section>
<section *ngIf="isUpdating">
  <ul>
    <li>
      {{editTitle}}
      <input type="text" [(ngModel)]="titleHolder"/>
    </li>
    <li>
      {{editBody}}
      <textarea rows="30" cols="120" [(ngModel)]="bodyHolder"></textarea>
    </li>
  </ul>
</section>
<button *ngIf="!isUpdating" (click)="onDelete()">Delete</button>
<button *ngIf="!isUpdating" (click)="onUpdate()">Update</button>
<button *ngIf="isUpdating" (click)="cancelEditing()">Back</button>
<button *ngIf="isUpdating" (click)="updatedPost()">Save</button>