.card-container {
    display: flex;
    border: 1px solid black;
    margin:2px;
}
.card-container:hover {
    cursor: pointer;
}
.card-vote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
}
.card-image-container {
    display: flex;
    align-items: center;
    height: inherit;
}

img {
    height: 50px;
    width: 50px;
}

fa:hover {
    cursor: pointer;
}