nav {
    width: 100%;
    height: auto;
    border: 1px black solid;
    box-shadow: 3px 2px 10px black;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar-container {
    display: flex;

}
.nav-item {
    list-style-type: none;
    margin-right: 10px;
}

.posts {
    margin-left: auto;
}
